@font-face {
    font-family: "ms gothic"; 
    src: url("/HOA3/MS Gothic.ttf") format("truetype");
}

@font-face { font-family: pc98; src: url('https://dl.dropbox.com/s/2gb4hu4x89z5jt9/pc-9800.ttf'); }

@font-face {
font-family: star7;
src: url(https://dl.dropbox.com/s/3rb56690ddj8dka/STAR7.otf);
}

body {
	font-family: pc98;
}

::-webkit-scrollbar {
width:15px; height:15px;}   /* made by @ps1 */
::-webkit-scrollbar-track { 
background-image: url(https://i.imgur.com/n1kAWKU.png);}
::-webkit-scrollbar-thumb {
background-image: url(https://i.imgur.com/KePIOiE.png);
border-top: 1px solid #D4D0C8; border-bottom: 1px solid #808080;}
::-webkit-scrollbar-button:vertical:decrement {
background-image: url(https://i.imgur.com/ZF6PC55.png);
width: 15px; height: 15px;}
::-webkit-scrollbar-button:vertical:increment {
background-image: url(https://i.imgur.com/sMOMkQ7.png);
width: 15px; height: 15px;}


.container {
	width: 550px;
	height: 300px;
	margin: 0 auto;
	margin-top: 13%;
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 0 1%;
}

.left {
	width:130px;
	height: 300px;
	text-align: center;

}

.upda {
	width: 120px;
	height: 160px;
	border: 2px ridge lightgray;
	border-radius: 4px;
	margin: 0 auto;
	overflow-y: scroll;
	padding: 5px;
	box-sizing: border-box;
	font-size: 0.8em;
	font-family: ms gothic;
}

.middle {
	width: 250px;


}

.right {
	width: 150px;

}

textarea {
	width: 120px;
	height: 70px;
	border: 2px ridge lightgray;
	border-radius: 4px;
	padding: 5px;
	resize: none;
	outline: none;
}

/* PHOTO LOG */


.all {
	margin: 0 auto;
	width: 640px;
	height: 99%;
}

.flix {
	margin: auto;
	width: 635px;
	display: grid;
	grid-template-columns: 25% 70%;
	gap: 0 1%;
}

.tside {
	width: 145px;
	height: 190px;
	background: whitesmoke;
	box-shadow: 0 0 3px 3px whitesmoke;
	margin: 5px;
	margin-top: 20px;
	padding: 6px;
	font-family: pc98;
}

.pics {
	width: 465px;
	height: 95vh;
	margin: 5px;
	padding: 6px;
	overflow-y: scroll;
}

.pics img {
	width: 99%;
	margin-bottom: 10px;
	box-shadow:0 0 3px 3px white;
	transition: .5s ease-out;
}

.pics img:hover {
	box-shadow: 0 0 3px 3px blue;
}

.pics img:click {
	box-shadow: 0 0 3px 3px blue;
}

/* MUSIC PAGE */

.wrapp {
	width: 98%;
	height: 98%;
	position: absolute;
}

.tanan {
	width: 560px;
	height: 340px;
  position: absolute;
 	top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
	width: 330px;
	height: 330px;
	margin: 5px auto;
	border: 3px groove #8093A6;
	border-radius: 7px;
	background-color: #F2F2F2;
	position: relative;
	z-index: 5;
	font-family: pc98;
	color: #263A4E;
	text-align: center;
	overflow-y: scroll;
}

.rotate {
 -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.inside {
	width: 320px;
	height: 230px;
	border: 1px solid black;
	margin: 5px auto;
}

.leftfl {
float: left; text-align: left; margin: 8px;
}

.rightfl {
	float: right; text-align: right; margin: 8px;
}

/* PROFILE */

.conta {
	width: 400px;
	height: 570px;
	position: absolute;
 	top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ENTERTAINMENT */

.hold {
	width: 740px;
	height: 560px;
	position: absolute;
 	top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

